@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;   
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;*/
    overflow: hidden;
    filter: blur(0px);
}



/*REMOVING BLUR
.loading-filter {
    filter: blur(0px);
    transition: filter 0.2s ease-out;
}*/

.loader-bg {
    position: absolute;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: #24232d;
    z-index: 999;
}

.icon-img {
    width: 150px;
    position: absolute;
    top: 30%;
    left: 46%;
    opacity: 1;
}

.fadeout {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.disappear {
    display: none;
}
  
/*SPINNER*/
.loader {
    color: #ff0000;
    font-size: 20px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    top: 550px;
    left: 50%;
    z-index: 1000;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  
.loader-hidden {
    opacity: 0;
    visibility: hidden;
    transition: filter 0.3 ease-out;
}
 

/*HEADER*/

.header {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: sticky;
}

.header:hover {
    cursor: default;
}

.notbold {
    font-weight: normal;
}

.header-image {
    transform: scale(0.05);
    padding: 0;
    position: absolute;
    left: -225px;
}

.header-icons {
    right: 0;
    position: absolute;
}

.fa-solid {
    padding: 15px;
}

.fa-solid.fa-window-minimize {
    top: -5px;
    position: relative;
}

.fa-window-minimize:hover {
    background-color: #00cff8;
    height: 100%;
    padding: 17px;
}

.fa-window-maximize:hover {
    background-color: #00cff8;
    height: 100%;
    padding: 12px 15px 12px 15px;
}

.fa-xmark:hover {
    background-color: red;
    height: 100%;
    padding: 15px 15px 12px 15px;
}

/*MENU*/

.menu {
    background-color: black;
    border: 0;
    font-size: 0.83em;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 200px;
}

a, .menu {
    cursor: default;
    color: #fff;
}

a {
    padding: 12px;
    background-color: transparent;
}

li:active {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.desc:active .on {
    background-color: #fff;
    cursor: default;
    color: #5e5e5e;
    padding: 12px;
} /*CHANGE TO :focus WHEN YOU HAVE THE PAGES READY WITHIN THE DOCUMENT - NO NEED FOR JAVASCRIPT*/

#open-menu:active {
    color: red;
    transform: none !important;
    transition: none !important;
}

li:nth-child(10) > a {
    border-top: 1px solid #fff;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
}

li .text {
    padding-left: 25px;
}

nav ul li.bottom {
    bottom: -220px;
    position: relative;
}

nav ul li:hover {
    background-color: rgba(25,25,25,1);
}

nav ul li .disabled:hover {
    color: #00cff8;
}

li:first-child:hover {
    background-color: transparent;
}




/*@media only screen and (max-height: 884px) {
   .header, .menu, .page-content {
    height: 100%;
   }
}

@media only screen and (max-width: 1077px) {
    .header, .menu, .page-content {
        width: 100%;
        
    }
}*/

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.close {
    width: 50px;
    border: 0;
    font-size: 0.83em;
    position: absolute;
    left: 0;
    height: 100vh;
    transition: width 0.1s ease;
    display: block;
}

.close li:active {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.close span.text {
    display: none;
}

.active-icon {
    background-color: #fff;
    cursor: default;
    color: #5e5e5e;
    padding: 12px;
}


/*RIGHT MENU*/

.right-menu {
    background-color: black;
    border: 0;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 50px;
    cursor: default;
}

.phone {
    position: absolute;
    padding: 5px;
    border-left: #5e5e5e 2px solid;
    border-right: #5e5e5e 1px solid;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.phone:hover {
    border-left: #00cff8 2px solid;
    border-right: #00cff8 1px solid;
}


/*PAGE CONTENT*/

.page-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 220px;
    margin-right: 70px;
    color: #fff;
    cursor: default;
}

/*STICKY NAVBAR*/

.sticky-nav {
    display: flex;
    position: sticky;
    background-color: black;
    height: 60px;
    right: 0;
    cursor: default;
}

.sticky-nav-li {
    display: inline;
    padding: 20px 40px;
}

.active-page {
    display: inline;
    padding: 20px 40px;
    border-bottom:#ffffff 2px solid;
    background: linear-gradient(180deg, rgba(2,0,36,0) 10%, rgba(23,80,90,1) 100%);
}


.sticky-nav-li:hover {
    background-color: black;
}

ul.sticky {
    bottom: 20px;
    position: absolute;
}

a.sticky-navigation {
    text-decoration: none;
}

a.sticky-navigation:hover {
    color: #00cff8;   
}

a.sticky-navigation:active {
    color: red;
}

.move {
    margin-left: 70px;
}

/*GAMES*/

.content {
    background-image: url(https://images.unsplash.com/photo-1685625971422-6fdc6c5129d6?q=80&w=1901&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 200px;
    text-align: center;
    height: 660px;   
    scroll-snap-type: y mandatory; 
}

 /*
.scroller {
    width: 1000px;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}*/

/*scrollbar*/

*::-webkit-scrollbar {
    width: 17px;
  }
*::-webkit-scrollbar-track {
    background-color: #FCFCFC;
  }
  
*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8B8B8B;
    border: 5px solid #FFFFFF;
  }
  
  /* Buttons */
::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: solid;
  height: 10px;
  width: 2px;
  background-color: #FCFCFC;
}

/* Up */
::-webkit-scrollbar-button:vertical:decrement {
  border-width: 5px 8px 10px 8px;
  border-color: transparent transparent #8B8B8B transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover
{
  border-color: transparent transparent #8B8B8B transparent;
}

/* Down */
::-webkit-scrollbar-button:vertical:increment {
  border-width: 10px 8px 5px 8px;
  border-color: #8B8B8B transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover {
  border-color: #8B8B8B transparent transparent transparent;
}


/*FAQ top line*/

.top-line-div {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: self-end;
}

.top-line {
    display:inline-flex;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
}

.games-faq {
    margin-left: 20px;
}

.games-faq p {
    margin: 8px;
}

#p1 {
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    border-radius: 5px 0px 0px 5px;
    color: #92968d;
    background-color: #333333;
}

#p2 {
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    border-radius: 0px 5px 5px 0px;
    color: #92968d;
    background-color: #333333;
    margin-left: -3px;
}

#p3 {
    margin-left: 100px;
}

#p3 p {
    margin: 0;
}

#p4 {
    padding-top: 1px;
}

#p1:hover {
    text-decoration: underline;
}

#p2:hover {
    text-decoration: underline;
}

.top-line input[type=text] {
    color: #a0a9af;
    background: #5f6468;
    padding: 10px;
    border: 0px;
    border-radius: 2px;
    outline: none;
    width: 250px;
}

input::placeholder {
    color: #7b8188;
}


.search-icon {
    position: relative;
    left: -35px;
    bottom: -6px;
    color: #a0a9af;
}

.search-icon:hover {
    cursor: pointer;
}

.bunny {
    width: 50%;
    height: 50%;
}

/*GAME CONTENT*/

.game-content {
    width: 900px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-content > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


.big1 {
    height: 400px;
    width: 100%;
}

.normal {
    flex: 1 1 350px;
}

.text1 {
    display: flex;
    flex-basis: 100%;
    color: #e3eaef;
}

.small {
    flex: 1 1 200px;
}

.big2 {
    position: relative;
}

.big2 img {
    cursor: default !important;
}

.big2, .normal, .small {
    border:#4a4a4a 1px solid;
}

.big2:hover, .normal:hover, .small:hover {
    border:#92968d 1px solid;
}

.big2 .tooltiptext {
    display: none;
    visibility: hidden;
    width: 270px;
    background-color: rgb(220, 220, 220);
    color: #4a4a4a;
    border: 1px solid #7b8188;
    box-shadow: 2px 2px 20px 1px black;
    font-size: 14px;
    text-align: start;
    padding: 9px;
    position: absolute;
    z-index: 1;
    left: 300px;
    top: -150px;
}

.big2:hover .tooltiptext {
    visibility: visible;
    display: block;
    
}

.iconsmall {
    height: 20px;
    width: 30px;
    margin-left: 10px;
}

.price {
    margin-right: auto;
}

.price-perc {
    border: none;
    background-color: #e86239;
    padding: 1px 7px 1px 7px;
    margin-right: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 3px #000000;
}

.price-full {
    margin-right: 10px;
}

.text2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    font-size: 0.75em;
    margin-bottom: 4px;
}

.price-full {
    font-size: 0.85em;
}

.footer img:first-child {
    cursor: default;
}





/*POP-UPS*/

.blur {
    filter: blur(10px);
    cursor: default;
    transition: filter 0.2s ease-in;
}

.first {
    filter: blur(0px);
    cursor: default;
    transition: filter 3s ease-out;
}

#popup1 {
    width: 400px;
    height: 200px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: repeating-linear-gradient(-45deg, #000000, #000000 8px, #333333 11px, #333333 11px);
    border: 2px solid #333333;
    filter: drop-shadow(5px 1px 10px #333333);
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
    padding: 0 30px 30px;
    display: none;
    cursor: default;
}

#popup2 {
    width: 400px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: repeating-linear-gradient(-45deg, #000000, #000000 8px, #333333 11px, #333333 11px);
    border: 2px solid #333333;
    filter: drop-shadow(5px 1px 10px #333333);
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
    padding: 0 30px 30px;
    display: none;
    cursor: default;
    padding-bottom: 0;
}

#popup3 {
    width: 400px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: repeating-linear-gradient(-45deg, #000000, #000000 8px, #333333 11px, #333333 11px);
    border: 2px solid #333333;
    filter: drop-shadow(5px 1px 10px #333333);
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
    padding: 0 30px 30px;
    display: none;
    cursor: default;
    padding-bottom: 0;
}

#popup4 {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 30%;
    left: 35%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 50px 50px 50px;
    background: repeating-linear-gradient(-45deg, #000000, #000000 8px, #333333 11px, #333333 11px);
    border: 2px solid #333333;
    color: #fff;
    display: none;
    cursor: default;
}

#popup5 {
    width: 600px;
    height: 280px;
    position: absolute;
    top: 30%;
    left: 35%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 50px 50px 50px;
    background: repeating-linear-gradient(-45deg, #000000, #000000 8px, #333333 11px, #333333 11px);
    border: 2px solid #333333;
    color: #fff;
    display: none;
    cursor: default;
}

#popup5 p {
    z-index: 1;
    position: relative;
    top: 20px;
}

#popup5 > h4 {
    color: #7f7f7f;
}

.moved {
    margin-left: 5%;
}

.profile {
    font-size: small;
}

.profile1 {
    position: relative;
    top: -310px;
    margin-left: 8px;
    margin-top: 5px;
}

.profile-icon {
    position: relative;
    top: -310px;
    border: solid transparent 1.5px;
    padding: 5px;
}

.profile-icon:hover {
    border: solid #00cff8 1.5px;
    padding: 5px;
}

h3 {
    margin-top: 45px;
    margin-bottom: 0;
    color: #FFFFFF;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

h4 {
    position: relative;
    top: -6%;
    z-index: 1;
}

.black-sq1 {
    background-color: #000;
    height: 100px;
    width: 330px;
    position: relative;
    bottom: 110px;
    left: 5px;
    box-shadow: 0 0 40px 15px black;
    z-index: -1;
}

.black-sq2 {
    background-color: #000;
    height: 50px;
    width: 300px;
    position: relative;
    bottom: 30px;
    left: 20px;
    box-shadow: 0 0 40px 15px black;
    z-index: -1;
}

.black-sq3 {
    background-color: #000;
    height: 50px;
    width: 300px;
    position: relative;
    bottom: 30px;
    left: 20px;
    box-shadow: 0 0 40px 15px black;
    z-index: -1;
}

.black-sq4 {
    background-color: #000;
    height: 280px;
    width: 500px;
    position: relative;
    bottom: 40px;
    box-shadow: 0 0 40px 15px black;
}

.black-sq5 {
    background-color: #000;
    height: 150px;
    width: 500px;
    position: relative;
    bottom: 120px;
    box-shadow: 0 0 40px 15px black;
}

/* BUTTONS */

.new-btn {
    background: linear-gradient(180deg, rgba(115,115,115,1) 0%, rgba(0,0,0,1) 51%);   
    border: solid white 1.5px;  
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: default;
    position: relative;
    top: -80px;
    left: 400px;
}

.new-btn:hover {
    background: linear-gradient(180deg, rgba(0,207,248,0.4073517102153361) 0%, rgba(0,0,0,0) 51%);  
    border: solid #00cff8 1.5px;  
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: default;
    position: relative;
    top: -80px;
    left: 400px;
}

.cancel-btn {
    background: transparent;  
    border: solid white 1px;  
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: relative;
    bottom: 30%;
    left: 80%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: default;
}

.cancel-btn:hover {
    background: transparent;  
    border: solid #00cff8 1.5px; 
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: default;
}

.games-btn {
    background: linear-gradient(180deg, rgba(115,115,115,1) 0%, rgba(0,0,0,1) 51%);   
    border: solid white 1.5px;  
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: default;
    position: relative;
    left: 320px;
    top: 50px;
    z-index: 1;
}

.games-btn:hover {
    background: linear-gradient(180deg, rgba(0,207,248,0.4073517102153361) 0%, rgba(0,0,0,0) 51%);  
    border: solid #00cff8 1.5px;  
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: default;
    position: relative;
    left: 320px;
    top: 50px;
    z-index: 1;
}